# pydab/data
pydab/models

pydab/data

notebooks/logs
notebooks/.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore latex generated stuff
publications/**/*.aux
publications/**/*.log

logs/

bfg.jar
